@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/*
    Shared CSS begins
*/

body {
    font-size: 20px;
    font-family: monospace;
}

input[type="text"] {
    font-size: 20px;
    font-family: monospace;
}

input[type="password"] {
    font-size: 20px;
    font-family: monospace;
}

.LogoutButton {

    align-self: center;
    font-size: 20px;
    font-family: monospace;
    margin-left: 92rem;
    margin-top: 40px;
}

.LogoutButton:hover {
    background-color: white;
}

.Logo {
    display: flex;
    border-bottom: 3px solid black;
}

.Roblog {
    height: 5.5rem;
    width: 10rem;
}

.profile-pic {
    margin-top: 10px;
    height: 9rem;
    width: 10rem;
    border: 2px solid black;
    border-radius: 70%;
}

.avatar {
    height: 9rem;
    width: 10rem;
    border: 2px solid black;
    border-radius: 70%;
}

.name {
    float: left;
    margin-top: 1px;
    margin-bottom: 0;
}

.container_T {
    display: grid;
    grid-template-columns: 20% auto 30%;
    grid-template-rows: 100px auto 25%;
    max-width: 100vw;
    min-height: 100vh;
    

}

/* header div */
.header_T {

    grid-row: 1 / 2;
    grid-column: 1 / 4;
    border-bottom: 3px solid black;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

/*
    Shared CSS ends
*/

/*
    CSS for DOM manipulation begins
*/

.error-text-hidden {
    visibility: hidden;
}

.invalid-box_T {
    border: 2px solid red;
}

.invalid-text_T {
    color: red;
    font-style: italic;
}

.counter {
    font-size: 14px;
    color: green;
    margin-left: 620px;
    
}
.exceeded {
    color: red;
}

#commentCounter{
    margin-left: 0px;
}

/*
    CSS for DOM manipulation ends
*/

/*
    CSS for Main Page (Before Login) begins
*/

.TopBar_D {
    border-bottom: 2px solid black;
    text-align: center;
}

.TheBottomPage_D {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1.64fr;
    max-height: 85vh;
}

.SideBar_D {

    grid-column-start: 1;
    grid-column-end: 4;
    border-right: 2px solid black;

    height: 56rem;
}

.SideBar_D h3 {
    border-bottom: 2px solid black;
    margin-top: -0;
    text-align: center;
}

.Post_D {
    height: 9rem;
    border-bottom: 2px solid black;
}

.Post_D h4 {
    margin-bottom: 0;
}

.Post_D img {
    float: left;
    grid-column: 1;
    grid-row: 1 / 3;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.Post_D p {
    font-size: 14px;

    margin-left: 0;
    margin-top: 0;
}

.form-input-grid_D {
    display: grid;
    grid-template-columns: 150px 550px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 25px;
    margin-left: 300px;
    margin-top: 100px;
    margin-bottom: 0;
    font-size: 25px;
}

.Login_D img {
    grid-column-start: 4;
    grid-column-end: 6;
    width: 30rem;
    height: 20rem;
    margin-left: 400px;
    margin-bottom: 0;
}

.Login_D p {
    margin-left: 500px;
    margin-top: 0;
}

#submitButton_D {
    padding: 8px 20px;
    font-size: 20px;
    font-family: monospace;
    
    margin-left: 900px;
    margin-top: 20px;
    margin-bottom: 50px;
    
}

/*
    CSS for Main Page (Before Login) ends
*/

/*
    CSS for Main Page (After Login) begins
*/

.Page_D {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1.64fr;
    height: auto;
}

.Leftside_D {

    grid-row-start: 1;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2.5;
    border-right: 2px solid black;
    text-align: center;
}

.Leftside_D button {
    width: 150px;
    height: 75px;
    background-color: pink;
    font-family: monospace;
    font-size: 20px
}

.Leftside_D button:hover {
    background-color: white;
}

.CreateSidebar_D {
    margin-top: 50px;
    margin-bottom: 50px;
}

.ManagementSidebar_D {
    margin-bottom: 50px;
}

.DraftSidebar_D {
    margin-bottom: 50px;
}

.ProfileSidebar_D {
    margin-bottom: 50px;
}

.Rightside_D {
    grid-row-start: 1;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 7;

}

.Rightside_D button {
    width: 1280px;
    height: 90px;
    background-color: white;
    font-family: monospace;
    margin: 20px;
    border-radius: 10px;
}

.Rightside_D button:hover {
    background-color: rgb(192, 188, 188);
}

.Rightside_D img {
    float: left;
    margin-bottom: 100px;
    height: 40px;
    width: 40px;
}

.Rightside_D p {
    float: left;
    margin-top: 7.4px;
    margin-left: 10px;
    margin-bottom: 0;
}

.image_D img {
    width: 100px;
    height: 60px;
    float: right;

    margin-bottom: 20px;
}

.title_D {
    margin-top: 0;

    padding-left: 10px;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 0;
    margin-right: 200px;

    font-size: 20px;
}

.content_D p {

    margin-left: 0;
    margin-top: 0;

}

/*
    CSS for Main Page (After Login) ends
*/

/*
    CSS for Signup Page begins CHANGED
*/

.login-note_T {
    margin-left: auto;
    margin-right: 15px;
}

/* For specific login button */
#loginButton_T {
    font-size: 20px;
    font-family: monospace;
}

/* For specific button "choose file" */
#pfp_T {
    font-size: 20px;
}

#error-text-pfp_T {
    justify-self: center;
    font-size: 20px;
}

.signup-center_T {
    grid-row: 2 / 4;
    grid-column: 1 / 4;
    margin: 15px;

    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    padding-top: 1em;
    padding-left: 3em;
}

.form-input-grid_T {

    display: grid;
    grid-template-columns: 250px 650px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 10px;

}

#submitButton_T {
    padding: 8px 20px;
    font-size: 20px;
    font-family: monospace;
    margin-top: 30px;
    margin-bottom: 20px;    
}

#submitButton_T:hover {
    background-color: white;
}


/*
    CSS for Signup Page ends
*/

/* 
    CSS for Blog Creation Page begins
*/

.CreateSpace_D {
    margin-left: 300px;
    margin-top: 80px;
    width: 1000px;
    height: 650px;
    border: 2px solid black;
}

.CreateSpace_D img {
    height: 9rem;
    width: 10rem;
    border: 2px solid black;
    border-radius: 70%;
    margin-left: 20px;
    margin-bottom: 0;
}

.CreateSpace_D h2 {
    margin-top: 20px;
    margin-bottom: 0;
}

.userInput_D {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 100px;
    height: 300px;
    width: 600px;
    border-radius: 5px;
    border: 2px solid black;
    margin-bottom: 0;
}

.fileUpload_D img {
    border: none;
    width: 60px;
    height: 60px;
    margin-top: 0;
    margin-left: 200px;
}

.imageUpload_D img {
    border: none;
    width: 60px;
    height: 60px;
    margin-left: 60px;
}

.musicUpload_D img {
    border: none;
    width: 60px;
    height: 60px;
    margin-left: 50px;
}

.locationUpload_D img {
    border: none;
    width: 50px;
    height: 50px;
    margin-top: 5px;
    margin-left: 50px;
}

.textFile_D p {

    font-size: 14px;
    margin-right: 20px;
    margin-left: 200px;
    margin-top: 0px;

}

.textImg_D p {
    font-size: 14px;
    margin-top: 0px;
    margin-left: 20px;
}

.textMusic_D p {
    font-size: 14px;
    margin-top: 0px;
    margin-left: 35px;
}

.textLocation_D p {
    font-size: 14px;
    margin-top: 0px;
    margin-left: 35px;

}

.PostButton_D {
    border: 2px solid black;
    font-size: 20px;
    font-family: monospace;
    border-radius: 3px;
    width: 100px;
    height: 60px;
    background-color: white;
}

.PostButton_D:hover {
    background-color: wheat;
}

.DraftButton_D {
    border: 2px solid black;
    font-family: monospace;
    font-size: 20px;
    border-radius: 3px;
    width: 100px;
    height: 60px;
    background-color: white;
    margin-right: 600px;
    margin-left: 100px;
}

.DraftButton_D:hover {
    background-color: wheat;
}

/* 
    CSS for Blog Creation Page ends
*/


/* 
    CSS for Blog Detail Page begins
*/
.post_G {
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-rows: 100px 2fr;
    gap: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    width: 81%;

    margin: 10px auto;
    background-color: #f9f9f9;
    height: 45rem;
    word-wrap: break-word;
}

/* Profile Image */
.image_G {
    margin: 10px 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #ccc; /* Subtle border */
    object-fit: cover; /* Ensures the image fits properly */
    scale: 100%;
}

.blog-image {
    max-width: 100%; 
    height: 400px; 
    display: block;
    margin: 20px auto;
    border-radius: 8px;
    float: right;
}

/* Name and Time */
.name_G {
    font-weight: bold;
    font-size: 24px;
    color: #333;
    margin-left: 15px;
}

.time-ago_G {
    font-size: 14px;
    color: #888;
    margin-left: 5px;
    margin-top: 5px;
}

/* Main Post Content */
.mainpost_G {
    grid-column: 1 / 3;
    grid-row: 2/4;
    border: 1px solid black;
    padding: 15px;
    border-radius: 5px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    overflow-wrap:break-word;
    word-break:break-all;
}

/*for upvoting/downvoting*/
.vote_G {
    display: inline-block;
    width: 40px;
    height: 25px;
    margin-left: 5px;
}

/* Comments Section */
.commentSection_G {
    grid-column: 3;
    grid-row: 1 / span 2;
    padding: 10px;
    border-left: 1px solid #ccc;
    height: 98%;
    background-color: #f3f3f3;
    overflow-y: auto;
}

.comment_G {
    display: flex;
    margin-bottom: 15px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

.comment_G img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.comment-details_G {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.comment-author_G {
    font-weight: bold;
}

.comment-text_G {
    margin: 5px 0;
}

.comment-votes_G {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
}

.comment-votes_G button {
    border: none;
    background-color: white;
}

.add-comment_G {
    display: flex;
    justify-content: bottom;
    align-content: bottom;
    margin-top: 10px;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.add-comment_G button:hover {
    background-color: gray
}

.add-comment_G input {
    border: none;
    width: 90%;
    padding: 5px;
}

.add-comment_G button {
    width: 10;
    height: 40px;
    background-color: white;
    font-family: monospace;
    margin: 20px;
    border-radius: 10px;
}

/* Profile Image */
.voteImage_G {
    
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* 
    CSS for Blog Detail Page ends
*/


/*
    CSS for Blog Management Page begins
*/

#logoutButton_T {
    font-size: 20px;
    font-family: monospace;
    margin-right: 20px;

}

.dashboard_T {
    grid-row: 2 / 4;
    grid-column: 1 / 2;
    border-right: 2px solid black;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30% 5% 1fr 1fr 1fr 1fr;
    grid-row-gap: 50px;
    justify-items: center;
    align-items: center;
    height: 100vh;

}

.dashboard_T button {
    width: 150px;
    height: 75px;
    background-color: pink;
    font-family: monospace;
    font-size: 20px
}

.dashboard_T button:hover {
    background-color: white;
}

.blogManagement-center_T {
    grid-row: 2 / 4;
    grid-column: 2 / 4;
    margin: 15px;

    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;


    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr;


}

.mini-header_T {
    grid-row: 1 / 2;
    grid-column: 1 / 4;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;

}

.blog-list_T {
    grid-row: 2 / 4;
    grid-column: 1 / 4;
    

}

.blog_T {
    margin: 10px 10px;
    border: 1px solid black;
    border-radius: 10px;
    color: #34495E;
    margin-left: 17px;
    padding: 15px;

    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;


}

.content-block_T {
    grid-row: 1 / 6;
    grid-column: 1 / 4;

    display: grid;
    grid-template-columns: 150px 250px 150px;
    grid-template-rows: 150px 100px 300px 200px 100px;
    align-items: center;
    justify-items: center;

}

.content-title_T {
    grid-row: 2 / 3;
    grid-column: 1 / 4;

}

.content-image_T {

    grid-row: 3 / 4;
    grid-column: 1 / 4;

    /*transform: scale(1.5);*/


}

.content-image_T img {
    border: none;
}

.content-text_T {

    grid-row: 4 / 5;
    grid-column: 1 / 4;
    margin-left: 50px;
}

.comment-block_T {
    grid-row: 1 / 6;
    grid-column: 4 / 6;
    border: 1px solid black;

}

.align-left_T {
    margin-left: 10px;
}

.comment_T {
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 50px 50px;
    margin: 10px;
    padding: 10px;
    align-items: center;
    justify-items: center;
    

}

.comment_T img {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    height: 50px;
    width: 50px;
}

.comment-header_T {
    grid-row: 1 / 2;
    grid-column: 2 / 4;
    font-size: 10px;

}

.comment-text_T {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    font-size: 15px;

}

.comment-vote_T {
    grid-row: 3 / 4;
    grid-column: 1 / 4;
}

.comment_T button {
    background-color: white;
    border: none;
}

.vote_T {
    display: inline-block;
    width: 40px;
    height: 25px;
    cursor: pointer;
    background-position: 0 -25px;
    margin-left: 5px;
}

.comment-add_T {
    grid-row: 6 / 7;
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

/* NEW */
#viewPost_T {
    font-size: 30px;
}

#targetImage_T {
    width: 400px;
    height: 300px;
}
/*
    CSS for Blog Management Page ends
*/


